<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="web.spring.placecloud.persistence.ImageMapper">

	<resultMap type="web.spring.placecloud.domain.ImageVO" id="imageResultMap">

		<id property="imageId" column="IMAGE_ID"/>
		<result property="placeId" column="PLACE_ID"/>
		<result property="imagePath" column="IMAGE_PATH"/>
		<result property="imageRealName" column="IMAGE_REAL_NAME"/>
		<result property="imageChgName" column="IMAGE_CHG_NAME"/>
		<result property="imageExtension" column="IMAGE_EXTENSION"/>
	</resultMap>

	<insert id="uploadImage">
		INSERT INTO IMAGE
		(IMAGE_ID, PLACE_ID, IMAGE_PATH, IMAGE_REAL_NAME, IMAGE_CHG_NAME, IMAGE_EXTENSION)
		VALUES
		(IMAGE_SEQ.NEXTVAL, #{placeId}, #{imagePath}, 
		#{imageRealName}, #{imageChgName}, #{imageExtension})
	</insert>

	<select id="selectByPlaceId" resultMap="imageResultMap">
		SELECT * FROM IMAGE
		WHERE PLACE_ID = #{placeId}
	</select>

	<update id="updateImage">
		UPDATE IMAGE SET
		IMAGE_PATH = #{imagePath},
		IMAGE_REAL_NAME = #{imageRealName},
		IMAGE_CHG_NAME = #{imageChgName},
		IMAGE_EXTENSION = #{imageExtension}
		WHERE IMAGE_ID = #{imageId}
	</update>

	<delete id="deleteImage">
		DELETE FROM IMAGE
		WHERE PLACE_ID = #{placeId}
	</delete>

</mapper>